<div class="jumbotron">
    <div class="row">
        <div class="col-8">
            <h4 class="font-weight-bold"><%= customer.firstname %> <%= customer.lastname %></h4>
            <p class="lead">Alert! do you want to delete this customer?</p>
            <hr class="my-4">
            <p class="lead">
                <form action="/deleteCustomer/<%= customer._id %>" method="POST">
                    <button class="btn btn-danger btn-lg" type="submit">Delete</button>
                    <a class="btn btn-light btn-lg" href="/">Cancel</a>
                </form>
            </p>
        </div>
        <div class="col-4">
            <h1 class="font-weight-bolder text-danger float-right">
                <i class="fa fa-trash"></i>
            </h1>
        </div>
    </div>
</div>
  